<footer class="footer bg-gray">
  <div class="container">
    <article class="pb-15">
      <div class="footer__title">
        <span class="bg-gray"><%= data.title %></span>
        <hr/>
      </div>
      <div class="row">
        <% for(var j = 0; j < data.testDrive.length; j++) { %>
          <div class="col-md-4 col-lg-4">
            <div class="footer__buttons">
              <a class="footer__link" href="<%= data.testDrive[j].href %>" title="<%= data.testDrive[j].name %>">
                <span><%= data.testDrive[j].name %></span>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        <% } %>
      </div>
      <hr/>
    </article>
    <article class="pb-50">
      <div class="row">
        <div class="col-12 col-md-6">
          <% for(var i = 0; i < data.info.length; i++) { %>
            <div class="pb-15">
              <h4 class="footer__section-title is-underline"><%= data.info[i].title %></h4>
              <% for(var k = 0; k < data.info[i].items.length; k++) { %>
                <% if(data.info[i].items[k].href) { %>
                <div class="mb-8">
                  <i class="<%= data.info[i].items[k].icon %>" style="font-weight: bold;"></i>
                  <a
                    class="text-14"
                    href="<%= data.info[i].items[k].href %>"
                    style="<%= data.info[i].items[k].style %>"
                    title="<%= data.info[i].items[k].title %>"
                  >
                    <%= data.info[i].items[k].text %>
                  </a>
                </div>
                <% } else { %>
                <div class="mb-8">
                  <i class="<%= data.info[i].items[k].icon  %>" style="font-weight: bold;"></i>
                  <span class="text-14"><%= data.info[i].items[k].text %></span>
                </div>
                <% } %>
              <% } %>
            </div>
          <% } %>
        </div>

        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-lg-6">
              <% for(var i = 0; i < data.carTypes.length; i++) { %>
                <div class="pb-15">
                  <h4 class="footer__section-title is-underline"><%= data.carTypes[i].title %></h4>
                  <% for(var k = 0; k < data.carTypes[i].items.length; k++) { %>
                    <div class="mb-8">
                      <i class="<%= data.carTypes[i].items[k].icon %>" style="font-weight: bold;"></i>
                      <a
                        class="text-14"
                        href="<%= data.carTypes[i].items[k].href %>"
                        title="<%= data.carTypes[i].items[k].text %>"
                      >
                        <%= data.carTypes[i].items[k].text %>
                      </a>
                    </div>
                  <% } %>
                </div>
              <% } %>
            </div>
            <div class="col-12 col-lg-6">
              <h4 class="footer__section-title is-underline"><%= data.map.title %></h4>
              <section class="google-map" style="height:250px;">
                <iframe allowfullscreen="" height="250" width="100%" loading="lazy" referrerpolicy="no-referrer-when-downgrade" src="<%= data.map.src %>" style="border:0;"></iframe>
              </section>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <article class="copyright bg-white mt-">
    <div class="container">
      <div class="copyright__info">
        <div class="copyright__logo">
          <img class=" ls-is-cached lazyloaded" alt="Logo" src="<%= data.copyright.logo %>">
        </div>
        <span><%= data.copyright.title %></span>
      </div>
    </div>
  </article>
</footer>