<header class="header js-header">
  <div class="nav-contain">
    <div class="container">
      <nav class="navbar-main">
        <a class="nav-logo" href="<%= data.logo.href %>">
            <img src="<%= data.logo.img %>" alt="<%= data.logo.alt %>">
        </a>

        <div class="hamburger-icon js-hamburger-icon"><span></span></div>

        <ul class="navbar-menu">
          <% for(var i = 0; i < data.menu.length; i++) { %>
            <% if(data.menu[i].subItems) { %>
              <li class="navbar-menu__item item-dropdown js-item-dropdown">
                <a class="navbar-menu__link" href="<%= data.menu[i].href %>" alt="<%= data.menu[i].alt %>" title="<%= data.menu[i].title %>">
                  <%= data.menu[i].text %>
                </a>

                <ul>
                  <% for(var j = 0; j < data.menu[i].subItems.length; j++) { %>
                    <li class="navbar-menu__item">
                      <a class="navbar-menu__link text-black" href="<%= data.menu[i].subItems[j].href %>" alt="<%= data.menu[i].subItems[j].alt %>">
                        <%= data.menu[i].subItems[j].text %>
                      </a>
                    </li>
                  <% } %>
                </ul>
              </li>
            <% } else { %>
              <li class="navbar-menu__item <% if (data.menu[i].isHomePage) { %>d-block d-md-none<% }%>">
                <a class="navbar-menu__link text-black" href="<%= data.menu[i].href %>"
                   alt="<%= data.menu[i].alt %>" title="<%= data.menu[i].title %>"><%= data.menu[i].text %></a>
              </li>
            <% } %>
          <% } %>
        </ul>

        <a class="nav-advisory">
          <img src="<%= data.advisory.img %>" alt="<%= data.advisory.alt %>">
        </a>
        <div class="navbar-main__backdrop hidden js-backdrop"></div>
      </nav>
    </div>
  </div>

  <% if (data.masthead) { %>
    <%- include('../components/molecules/masthead', { data: data.masthead }); %>
  <% }%>
</header>