<header class="js-header">
  <div class="fixed-header js-fixed-header">
    <div class="container">
      <nav class="navbar-main">
        <a class="nav-logo" href="<%= data.logo.href %>">
            <img src="<%= data.logo.img %>" alt="<%= data.logo.alt %>">
        </a>

        <div class="hamburger-icon js-hamburger-icon"><span></span></div>

        <div class="navbar-menu js-navbar-menu">
          <input type="search">

          <ul>
            <% for(var i = 0; i < data.menu.length; i++) { %>
            <% if(data.menu[i].subItems) { %>
            <li class="navbar-menu__item item-dropdown">
              <a class="navbar-menu__link" href="<%= data.menu[i].href %>" alt="<%= data.menu[i].alt %>" title="<%= data.menu[i].title %>">
                <%= data.menu[i].text %>

                <span class="navbar-menu__icon-down js-icon-dropdown fa fa-angle-down" aria-hidden="true"></span>
              </a>

              <ul class="navbar-menu__submenu">
                <% for(var j = 0; j < data.menu[i].subItems.length; j++) { %>
                <li class="navbar-menu__submenu-item">
                  <a class="navbar-menu__product text-black" href="<%= data.menu[i].subItems[j].href %>">
                    <span>
                      <img src="<%= data.menu[i].subItems[j].img %>" alt="<%= data.menu[i].subItems[j].alt %>">
                    </span>
                    <h3><%= data.menu[i].subItems[j].product_name %></h3>
                  </a>
                </li>
                <% } %>
              </ul>
            </li>
            <% } else { %>
            <li class="navbar-menu__item <% if (data.menu[i].isHomePage) { %>d-block d-md-none<% }%>">
              <a class="navbar-menu__link text-black" href="<%= data.menu[i].href %>"
                 alt="<%= data.menu[i].alt %>" title="<%= data.menu[i].title %>"><%= data.menu[i].text %></a>
            </li>
            <% } %>
            <% } %>
          </ul>
        </div>

        <a class="nav-advisory cursor-pointer">
          <img src="<%= data.advisory.img %>" alt="<%= data.advisory.alt %>">
        </a>
        <div class="navbar-main__backdrop hidden js-backdrop"></div>
      </nav>
    </div>
  </div>

  <% if (data.masthead) { %>
    <%- include('../components/molecules/masthead', { data: data.masthead }); %>
  <% }%>
</header>