<!doctype html>
<html lang="en">
<%- include('../layout/head'); %>
<body>
  <%- include('../layout/header', { data: header }); %>

  <main style="height: 10000px">
    <% if (data.masthead) { %>
      <section>
        <%- include('../components/molecules/masthead', { data: data.masthead }); %>
      </section>
    <% }%>

    <% if (data.showroom) { %>
      <section class="pb-25 pt-25 bg-showroom">
        <div class="container">
            <%- include('../components/organisms/showroom', { data: data.showroom }); %>
        </div>
      </section>
    <% }%>
  </main>

  <%- include('../layout/footer', { data: footer }); %>
  <%- include('../layout/scripts'); %>
</body>
</html>