<!doctype html>
<html lang="en">
<%- include('../layout/head'); %>
<body>
  <%- include('../layout/header', { data: header }); %>

  <main style="height: 10000px">
    <% if (data.masthead) { %>
      <%- include('../components/molecules/masthead', { data: data.masthead }); %>
    <% }%>

    <div class="container" id="wrap">
      <div class="row">
        <%- data.contents %>
      </div>
    </div>
  </main>

  <%- include('../layout/footer', { data: footer }); %>
  <%- include('../layout/scripts'); %>
</body>
</html>