<!doctype html>
<html lang="en">
<%- include('../layout/head'); %>
<body>
  <%- include('../layout/header', { data: header }); %>

  <main>
    <% if (data.masthead) { %>
      <section>
        <%- include('../components/molecules/masthead', { data: data.masthead }); %>
      </section>
    <% }%>

    <% if (data.showroom) { %>
      <section class="pt-30 pb-30 bg-gray">
        <div class="container">
            <%- include('../components/organisms/showroom', { data: data.showroom }); %>
        </div>
      </section>
    <% }%>

    <% if (data.productTypes) { %>
      <section class="pt-30 pb-30">
        <div class="container">
          <%- include('../components/organisms/product-types', { data: { listCars: data.productTypes, sectionTitle: { title: "Các dòng xe VinFast" } } }); %>
        </div>
      </section>
    <% }%>

    <% if (data.advisory) { %>
      <section class="pt-50 pb-30 bg-gray">
        <div class="container">
          <%- include('../components/organisms/advisory', { data: data.advisory }); %>
        </div>
      </section>
    <% }%>

    <% if (data.productDiscount) { %>
      <section class="pt-30 pb-30">
        <div class="container">
          <%- include('../components/organisms/product-discount', { data: data.productDiscount }); %>
        </div>
      </section>
    <% }%>
    <section class="pt-30">
      <%- include('../components/organisms/test-drive-form', { data: { cities: data.cities } }); %>
    </section>
  </main>

  <%- include('../layout/footer', { data: footer }); %>
  <%- include('../layout/scripts'); %>
</body>
</html>