<!doctype html>
<html lang="en">
  <%- include('../layout/head'); %>
  <body>
  <%- include('../layout/header', { data: header }); %>

  <main>
    <section aria-label="breadcrumb">
      <%- include('../components/molecules/breadcrumb-box', { data: data.breadcrumb }); %>
    </section>
    <section aria-label="Product images" class="product-detail pt-15">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-5 order-2 order-md-1">
            <div class="title-box">
              <h2 class="mb-15">VinFast VF3 2025</h2>
            </div>
            <div class="flex bottom-line mb-15">
              <p class="rating mr-auto">
                <span class="rating-box">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>
                <span class="rating-value">(<a href="#reviewcontent">2 đánh giá</a>)</span>
              </p>
              <ul class="flex social">
                <li>
                  <a class="facebook" data-type="facebook" href="javascript:void(0)">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a class="twitter" data-type="twitter" href="javascript:void(0)">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a class="linkedin" data-type="linkedin" href="javascript:void(0)">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>

            <div class="product-detail__price mb-20">
              <span class="product-detail__price-lable">Giá bán</span>
              <strong class="product-detail__price-value">299,000,000 VND</strong>
            </div>

            <div class="product-detail__description">
              <ul>
                <li>5 chỗ ngồi</li>
                <li>Dài x Rộng x Cao: 3.190 x 1.679 x 1.622 mm</li>
                <li>Túi khí: 06 túi khí</li>
                <li>Công suất tối đa: 32 kW</li>
                <li>Mô men xoắn cực đại: 110 Nm</li>
              </ul>
            </div>

            <div class="row product-team">
              <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                <a class="btn btn-lg btn-primary btn-seller" href="tel:0984619295">
                  <span>Phụ trách kinh doanh</span>
                  <span class="info-text">0984.619.295</span>
                </a>
                <a class="btn btn-lg btn-request" href="javascript:OpenModelBaoGiaPopup()">
                  <span>Gửi liên hệ</span>
                  <span class="info-text">Yêu cầu báo giá</span>
                </a>
              </div>
              <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                <a class="btn btn-lg btn-secondary btn-test-driver" href="javascript:OpenModelLaiThuPopup()">
                  <span>Gửi liên hệ</span>
                  <span class="info-text">Đăng ký lái thử</span>
                </a>
                <a class="btn btn-lg btn-secondary btn-calculator" href="javascript:OpenModelUocTinhGiaPopup()">
                  <span>Tham khảo</span>
                  <span class="info-text">Chi phí lăn bánh</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-7 order-1 order-md-2">
            <div class="swiper-thumbs-zoom">
              <div class="swiper-container slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="//into-the-program.com/demo/images/sample010.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="//into-the-program.com/demo/images/sample005.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="//into-the-program.com/demo/images/sample012.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="//into-the-program.com/demo/images/sample007.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="//into-the-program.com/demo/images/sample008.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="//into-the-program.com/demo/images/sample009.jpg" alt="">
                  </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>

              <div class="swiper-container slider-thumbnail">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="//into-the-program.com/demo/images/sample010.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="//into-the-program.com/demo/images/sample005.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="//into-the-program.com/demo/images/sample012.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="//into-the-program.com/demo/images/sample007.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="//into-the-program.com/demo/images/sample008.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="//into-the-program.com/demo/images/sample009.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section aria-label="Content">
      <%- include('../components/organisms/tab-detail', { data: { cities: data.cities, carData: data.carData } }); %>
    </section>
  </main>

  <%- include('../layout/footer', { data: footer }); %>
  <%- include('../layout/scripts'); %>
  </body>
</html>