<div class="product-discount-card">
  <a href="/san-pham/<%= data.shortUrl %>.html">
    <img src="<%= data.banner %>" alt="<%= data.name %>">
  </a>
  <div class="product-discount-card__text-box">
    <h3>
      <a href="/san-pham/<%= data.shortUrl %>.html"><%= data.name %></a>
    </h3>
    <p>
      <strong><%= data.price %> <%= data.currency %></strong>
    </p>
  </div>
  <div class="product-discount-card__button">
    <a type="button" class="cursor-pointer">
      <span> Nhận khuyến mãi</span>
      <i class="fa fa-gift" aria-hidden="true"></i>
    </a>
  </div>
</div>