<div class="product-card">
  <div class="product-card__top">
    <a href="<%= data.href %>">
      <img src="<%= data.image %>" alt="<%= data.alt %>">
    </a>
  </div>
  <div class="product-card__middle">
    <h3 class="product-card__title mb-15">
      <a href="<%= data.href %>" alt="<%= data.name %>"><%= data.name %></a>
    </h3>
    <p class="product-card__des">
      <strong><%= data.price %></strong>
    </p>
  </div>
  <div class="product-card__bottom">
    <button type="button" class="btn btn-danger">0984619295</button>
    <button type="button" class="btn btn-primary">Nhận báo giá</button>
  </div>
</div>