<div class="text-image">
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="text-image__image">
        <img src="<%= data.right.image %>" alt="<%= data.right.name %>">
        <h4><%= data.right.name %></h4>
        <button type="button" class="btn btn-primary btn-lg">
          <%= data.right.numberCall %>
        </button>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="text-image__text">
        <%- data.left.description %>
      </div>
    </div>
  </div>
</div>